/* Reset de estilos para garantir consistência entre navegadores */
body, h1, h2, h3, p, ul, li, form, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos específicos para cada template */

/* base.html */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* edita_tarefa.html, lista_tarefas.html, nova_tarefa.html, remove_tarefa.html */
#content {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

form {
    text-align: left; /* Alinhar o texto à esquerda dentro do formulário */
}

/* Estilo para inputs e botões */
input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    input {
        margin-bottom: 10px;
    }
}
